.carousel-item {
    height: 60vh;
}
.carousel-caption {
    position: absolute;
    text-align: left;
    font-weight: bold;
    top: 100px;
}

.bold-text {
    font-weight: bolder;
}

.pixel-middle {
    text-align: justify;
    font-size: medium;
    font-weight: bolder;
    height: 2rem;
}
